# Terraform files
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Terraform directories
.terraform/
.terraform.lock.hcl

# Local environment files
terraform.tfvars.backup
terraform.tfvars.local
